# Configuration file

ids {
    I:"1 Up"=90
    I:Blink=91
    I:"Elemental Affinity"=92
    I:"Fall Resistance"=93
    I:Leapfrog=94
    I:"Never Hungry"=95
    I:Paraglide=96
    I:Reaper=97
    I:Restoration=98
    I:"Sonic the Hedgehog"=99
    I:Spiderman=100
    I:"Step Up"=101
    I:Superman=102
    I:"The One Ring"=103
}


jewelry {
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


